.row > row{
    margin-left: 2%;
    /* margin-right: 10%; */
}
.color-divs {
    display: flex;
    gap: 10px;
    margin-top: 20px;
  }
  
  .color-div {
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #ccc;
  }

  .color-divs {
    display: flex;
    gap: 10px;
    margin-top: 20px;
  }
  
  .color-div {
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #ccc;
    transition: background-color 0.3s;
  }