<!-- <div class="text-center" >
<h1 class="text-center"> wellcome to Test center</h1>
</div> -->




  


<!-- <div class="container-fluid g-8"> -->
    <app-header></app-header> 
    
  
    <main>
      <app-side-navbar > </app-side-navbar>
      <app-app-footer class="Resi"></app-app-footer>
<!-- <body>
    <app-updatepopup></app-updatepopup>
</body> -->
   
    </main>

    <div style=" padding: 150px;" class="hastoshow" *ngIf="true">
      <p>parent data:{{initialvalue}}</p>

      <p> recieved data : {{Updatedvalue}}</p>
      <!-- <app-user-listing [value]="initialvalue" (valuechange)="recieveUpdatedValue($event)" ></app-user-listing> -->
    </div>
   
    

  
  <!-- </div> -->
  <!-- <router-outlet></router-outlet> -->
